.env
.idea
!backend/uploads/.gitkeep
dist/
uploads/
__pycache__/
.DS_Store
*.csv
*.txt
*.docx
*.pdf
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
